body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-content: center;
    margin: 0;
}

.Fondo{
    text-align: center;
    margin-top: 1vh;
    background-image: url(Museo2.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color: rgba(118, 180, 131, 0.5);
    height: 100%;
}

.CajaV{
    width: 90%;
    height: 90%;
    background-color: blue;
    text-align: center;
    margin-top: 3vh;
    margin-left: 5%;
}

video{
    width: 80%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

h1{
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 2vh;
    font-size: 5vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h2{
    text-align: center;
    font-size: 30px;
}

form{
    background-color: rgb(122, 119, 119);
    padding: 20px 0;
    max-width: 600px;
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 30px gray;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.forminput{
    padding: 6px 20px;
}

button{
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    height: 90%;
    font-size: medium;
    font-family: sans-serif;
}

.boton{
    box-sizing: border-box;
    padding: 0;
    width: 90%;
    height: 85%;
    font-family: sans-serif;
    font-size: 5vh;
    box-shadow: 0px 0px 70px 70px rgb(218, 94, 176);
    border-radius: 10px;
    border-color: white;
}

input{
    width: 100%;
    box-sizing:border-box;
    padding: 6px 12px;
    border: none;
    border-left: 3px solid black;
    box-shadow: 0px 0px 10px 5px;
    border-radius: 8px;
}

.Caja{
    width: 25vh;
    height: 35vh;
    margin: 0;
    background-color: white;
    display:inline-block;
    overflow: hidden;
    justify-content: center;
    text-align:center;
    border-radius: 10px;
    font-size: 5vh;
    padding: 0;
    padding-top: 5vh;
}

.Caja2{
    width: 40vh;
    height: 40vh;
    margin: 0;
    background-color: white;
    display:inline-block;
    overflow: hidden;
    justify-content: center;
    text-align:center;
    border-radius: 10px;
}

img{
    width: 78%;
    height: 92%;
    box-shadow: 0px 0px 80px gray;
    margin-top: 10px;
}

.CajaBaja{
    background:linear-gradient(rgb(216, 196, 216),rgb(59, 58, 58),rgb(211, 197, 211));
    min-height: 70px;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    width:auto;
    height: 8vh;
}

a{
    height: 10vh;
    color: white;
    padding: auto;
    font-size: 3.5vh;
    font-weight: 400;
}

.Fijo{
    text-align:center;
    position:fixed;
    width: 100%;
    background:linear-gradient(white,rgb(245, 169, 245),rgb(212, 124, 212,0.4));
    box-shadow: 0px 0px 15px 15px rgb(212, 124, 212,0.4);
    
}
.CajonS{
    width: 100%;
    height: 25vh;
}

.ImagenP{
    margin-top: 2vh;
    max-width: 80%;
    margin-left: 10%;
    box-shadow: 0px 0px 100px 10px  rgba(248, 237, 248, 0.4);
    border-radius: 40px;
    background-color: rgba(248, 237, 248, 0.4);
    margin-bottom: 20px;
    border: 0;
}

.Image2{
    width: 80%;
    height: 90%;
    box-shadow: 0px 0px 80px gray;
    margin-top: 10px;
    border-radius: 10px;
}

.ImagenL{
    margin-top: 2vh;
    max-width: 30%;
    margin-left: 35%;
    box-shadow: 0px 0px 100px 10px  rgba(248, 237, 248, 0.4);
    border-radius: 40px;
    background-color: rgba(248, 237, 248, 0.4);
    margin-bottom: 20px;
    border: 0;
}